.modal-window {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  padding: 50px;
  overflow: auto;

  .modal-inner {
    width: 100%;
    max-width: 600px;
    height: 500px;
    
    margin: 0 auto;
    border: 1px solid black;
    background-color: white;
    padding: 30px 10px;
  }
}